body {
	background: black;
	color: red;
	font-size: 20px;
	font-family: Georgia, serif;
	line-height: 1.2;
}

a {
	color: red;
	text-decoration: none;
}

h1 {
	font-size: 40px;
	font-weight: 800;
	margin:0px;
	margin-bottom:10px;
}


.portrait {
	width:75%;
     display: block;
     margin-left: auto;
     margin-right: auto;
	margin-top:50px;
	margin-bottom:50px;
	border-radius: 20%
}


.title {
	font-size: 50px;
	font-weight: 800;
	color: black;
	text-align: center;
	top: 5px;
	text-shadow: -2px 0 #943335, 0 2px #943335, 2px 0 #943335, 	0 -2px #943335;
	}


.banner {
	width:100%;
	height:315px;
     display: block;
     margin-left: auto;
     margin-right: auto;
	margin-top:0px;
	margin-bottom:50px;
	background-image:url("images/banner.png");
	background-position: 90px;
	position: relative;
	text-align: center;
}


.intro {
	text-align: center;
	width:85%;
	margin-right: auto;
	margin-left: auto;
}


.container {
  position: relative;
  width: 50%;
  max-width: 250px;
}


.poster {
	float: left;
	width: 250px;
	height: 300px;
	margin-right:10px;
	margin-left: 20px;
}

.overlay {
  position: absolute;
  top: 50;
  bottom: 0;
  left: 0;
  right: 0;
  align: bottom;
  height: 20%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background: rgba(0, 0, 0, 0.5);
}

.container:hover .overlay {
  opacity: 1;
}


.entry {	
	margin-right: 20px;
	margin-left:20px;
}


.ratings {
	font-size: 16px;
	font-weight: 900;
	margin-right:5px;
}


.skulls {
	margin-left:4px;
	margin-right:4px
	height: 15px;
	width: 15px;
}



.icons {
	margin-left:10px;
	margin-right:10px;
	height: 30px;
	width: 30px;
}


@media(max-width:700px) {
	.poster{
		height: 200px;
		width: 175px;
	}

	.skulls{
		margin-left: 1px;
		margin-right: 1px;
	}

	
	.title {
		margin-left:5%;
		margin-right:5%;	
		top: 10px;
	}

	
	.portrait {
		width: 90%;
	}

}
